{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
<form action="/commonclass" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Enter input types</label>
    <select class="form-control " name="vartypes">
      <option>project</option>
      <option>git-ignore</option>
    </select>

    <label for="exampleInputEmail1">Enter the project name you want to create the common class for or leave blank for git ignore file  </label>
    <input type="text" name="class" class="form-control" id="main" aria-describedby="main" >
    </div>
    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
</form>
<div class="container ">
  <div class="position-relative">
      <pre class="code-box">
  <code class="language-c#" data-highlighted="yes" >
      {{mycode}}

 
    </code>
  </pre>
  <button class="btn btn-primary copy-button" onclick="copyToClipboard()">Copy</button>
</div>
</div>

<script>
function copyToClipboard() {
  const codeBox = document.querySelector('.code-box code');
  const range = document.createRange();
  range.selectNodeContents(codeBox);
  const selection = window.getSelection();
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand('copy');
  // alert('Code copied to clipboard!');
}
</script>
{% endblock %}

