<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/pricing.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <p>This software is free to use. If you like it, you can support the developers by buying us a coffee!</p>
        <a href="{{ url_for('start')}}" class="btn" target="_blank">Not Interested</a>
    </div>
</body>
</html>
